* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 3%;
}

/* NAVBAR */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0px;
}
.logo {
  height: 38px;
}
.list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.list-item {
  list-style: none;
  font-weight: 500;
}
.list-item:first-child {
  font-size: 19px;
  font-weight: 600;
  position: relative;
}
.list-item:first-child::after {
  content: "";
  height: 2px;
  background-color: #000;
  width: 40px;
  position: absolute;
  top: 24px;
  right: 10px;
}
.button-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-button {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #9ca3af;
  padding: 5px 35px;
  border-radius: 10px;
  font-size: 18px;
}

/* HERO */
.hero-container {
  position: relative;
}
.square {
  position: relative;
  top: 380px;
  left: 220px;
}
.person {
  position: absolute;
  top: 55px;
  z-index: 3;
}
.globe {
  position: absolute;
  top: 0;
  right: 400px;
}
.star {
  position: absolute;
  top: 70px;
  right: 50px;
}
.star2 {
  position: absolute;
  top: 600px;
  right: 550px;
}
.hero-container-right {
  width: 55%;
  margin-left: auto;
  position: relative;
  bottom: 250px;
  text-align: center;
}
.hero-heading {
  font-size: 3rem;
}
.hero-description {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  margin: 3rem 3rem 5rem 3rem;
  color: #6b7280;
}
.button-email {
  background-color: #fff;
  border: 2px solid #000;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
}
.button-join {
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin-left: 12px;
  border-radius: 10px;
}
.contact-heading {
  font-family: "poppins", sans-serif;
  color: #6b7280;
  font-weight: 500;
  margin-top: 5rem;
}
.icons {
  margin-top: 15px;
}
.icons span {
  margin-left: 15px;
}
