* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #2b2923;
  color: #fff;
}
.container {
  width: 70%;
  margin: auto;
  max-width: 1440px;
}
/* Navbar */
nav {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 42px;
}
.list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.list-item {
  font-size: 13px;
  list-style: none;
  font-weight: 500;
}
button {
  background-color: #2b2923;
  color: #9e8e36;
  border: 1px solid #9e8e36;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
}

/* Hero */
.top-hero {
  display: flex;
  gap: 50px;
  margin: 20px 0 40px;
}
.hero-heading {
  font-weight: 700;
  width: 55%;
  font-size: 3.4rem;
}
.hero-description {
  width: 45%;
  font-size: 1rem;
  align-self: center;
}
.banner {
  width: 100%;
}
