* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* NAVBAR */
.navbar {
  display: flex;
  color: #fff;
  background-color: #000;
  align-items: center;
  padding: 0 5%;
  height: 10vh;
  gap: 50px;
}
.logo {
  height: 30px;
}
.line {
  border-right: solid #fff 1px;
  padding: 1px;
  height: 60%;
}
.list {
  display: flex;
  gap: 40px;
}
.list-item {
  font-size: 14px;
  font-weight: 500;
}
ul li {
  list-style: none;
}
nav div:nth-last-child(1) {
  margin-left: auto;
}
.button-small {
  border: none;
  background-color: #c026d3;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 24px;
  border-radius: 5px;
}

/* HERO */
.hero {
  background: url(./assets/bg.png) no-repeat center center fixed;
  background-size: cover;
  height: 90vh;
  color: #fff;
  text-align: center;
}
.hero-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  padding-top: 10%;
  margin: 0 20%;
}
.hero-description {
  font-size: 20px;
  font-weight: 400;
  word-spacing: 3px;
}
.button-large {
  border: none;
  background-color: #c026d3;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: 35px;
}
