* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f4f5;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
/* NAVBAR */
nav {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  font-weight: 600;
  margin-right: 50px;
}
nav ul li:first-child {
  color: #10b981;
}

/* HERO */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
main section {
  width: 50%;
}
.left-section {
  margin-left: 5%;
  position: relative;
}
#topangle-img {
  width: 25px;
}
.left-section h1 {
  font-size: 70px;
  line-height: 1.3;
}
.left-section p {
  color: #808080;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0;
}
#bottomangle-img {
  width: 25px;
  position: absolute;
  right: 25px;
}
#stethoscope-img {
  position: absolute;
  width: 90%;
  /* height: 120%; */
  top: -70px;
  right: -150px;
  z-index: -5;
}
#mouse-img {
  width: 30px;
  position: absolute;
  bottom: -18px;
  right: -25px;
}
button {
  border: none;
  background-color: #10b981;
  color: #fff;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 25px;
}
#greenbox-img,
#yellowbox-img {
  position: absolute;
  right: 0;
}

#greenbox-img {
  width: 35%;
  bottom: 30px;
  right: 25px;
}
#yellowbox-img {
  width: 30%;
  bottom: 50px;
}
#doctor-img {
  position: absolute;
  height: 90%;
  top: 65px;
  right: 20px;
}
